/* Start Global Rules*/
* {
  -webkit-box-sizing: borer-box;
  box-sizing: borer-box;
}

body {
  background-color: #fcfafd;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* End Global Rules*/
/* Start Dark Mode*/
body.dark {
  color: #fff !important;
  background-color: #16082c;
}
body.dark .navbar .navbar-toggler svg {
  color: #fff;
}
body.dark .navbar .navbar-nav li a {
  color: #fff !important;
}
body.dark .navbar .navbar-nav li a.active, body.dark .navbar .navbar-nav li a:hover {
  color: #2f1952 !important;
}
body.dark .heading-of-landing-sec .title-of-heading,
body.dark .heading-of-landing-sec .title,
body.dark .heading-of-landing-sec .description,
body.dark .heading-of-sections .title-of-heading,
body.dark .heading-of-sections .title,
body.dark .heading-of-sections .description {
  color: #fff !important;
}
body.dark .bottom-sec-button .url-btn {
  color: #fff;
}
body.dark .client-opinion .container {
  border-bottom-color: #374053;
}
body.dark .footer .heading,
body.dark .footer .links li a {
  color: #fff !important;
}
body.dark .footer .links li a.active {
  color: #2f1952 !important;
}
body.dark .landing-blog .first-row .left-box-of-first-row h3 {
  color: #2f1952;
}
body.dark .landing-blog .first-row .left-box-of-first-row p {
  color: #7b7090;
}
body.dark .landing-blog .first-row .right-box-of-first-row {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142 !important;
}
body.dark .landing-blog .first-row .right-box-of-first-row ul li {
  color: #2f1952;
}
body.dark .landing-blog .second-row .box-of-second-row {
  background-color: #2e2142 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.dark .categories .row .info p {
  color: #fff !important;
}
body.dark .connect p {
  color: #fff !important;
}
body.dark .pactages .sidebar .box .intro svg {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul label {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul input {
  accent-color: #593a89;
}
body.dark .pactages .sidebar .box .icon-form {
  background-color: #593a89;
}
body.dark .pactages .main-content .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142;
}
body.dark .pactages .main-content .content-of-col .duration p,
body.dark .pactages .main-content .content-of-col .duration span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row .image-box-two {
  background-color: #322449;
}
body.dark .pactages .main-content .content-of-col .inner-footer .image {
  background-color: white;
  -mo-border-radius: 20px;
  border-radius: 20px;
}
body.dark .pactages .full-content .heading .image-box .img-first {
  background-color: #593a89;
}
body.dark .pactages .full-content .heading .image-box .img-second {
  color: black;
}
body.dark .complete-pactage .left-box,
body.dark .complete-pactage .right-box {
  background-color: #2e2142;
}
body.dark .complete-pactage .left-box .content-of-col,
body.dark .complete-pactage .right-box .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a;
}
body.dark .complete-pactage .left-box .content-of-col span,
body.dark .complete-pactage .right-box .content-of-col span {
  color: #fff !important;
}
body.dark .complete-pactage .left-box ul li p,
body.dark .complete-pactage .right-box ul li p {
  color: #fff !important;
}
body.dark .join .btn {
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons,
body.dark .join .first-input .reason-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons select,
body.dark .join .first-input .reason-content select {
  color: #fff !important;
}
body.dark .join .first-input .input-icons select option,
body.dark .join .first-input .reason-content select option {
  color: #ccc !important;
}
body.dark .join .first-input .input-icons svg,
body.dark .join .first-input .reason-content svg {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input,
body.dark .join .first-input .reason-content input {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-webkit-input-placeholder, body.dark .join .first-input .reason-content input::-webkit-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-moz-placeholder, body.dark .join .first-input .reason-content input::-moz-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input:-ms-input-placeholder, body.dark .join .first-input .reason-content input:-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-ms-input-placeholder, body.dark .join .first-input .reason-content input::-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::placeholder,
body.dark .join .first-input .reason-content input::placeholder {
  color: #fff !important;
}

/* End Dark Mode*/
/* Start Navbar */
.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .darkmode-switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}
.navbar .darkmode-switcher-label {
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.navbar .darkmode-switcher-label::before, .navbar .darkmode-switcher-label::after {
  position: absolute;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}
.navbar .darkmode-switcher-label::before {
  content: "\f185";
  font: var(--fa-font-regular);
  left: 0;
  background-color: #3eb6ae;
  color: #fff;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label::after {
  content: "Dark";
  right: 0;
  background-color: rgba(62, 182, 174, 0.2);
  color: #3eb6ae;
  width: 60%;
  padding-top: 2px;
}
.navbar .darkmode-switcher-label.dark::after {
  content: "\f186";
  font: var(--fa-font-regular);
  right: 0;
  background-color: #fff;
  color: #16082c;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label.dark::before {
  content: "white";
  left: 0;
  background-color: #322743;
  color: #fff;
  width: 60%;
  padding-top: 6px;
  font-family: Tahoma, sans-serif;
}
.navbar .login {
  background-color: #3eb6ae;
  cursor: pointer;
}

/* End Navbar */
/* Start About Us*/
.about-us .first-row .right-box .after-img {
  bottom: 20px;
  right: -40px;
}
.about-us .first-row .right-box .after-img img {
  width: 65%;
}
.about-us .first-row .before-one {
  left: -700px;
  top: -500px;
  z-index: -999;
}
.about-us .second-row {
  background-color: #f0eb5b;
  margin: 10px 200px 10px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us .second-row.special {
  margin: 10px 0px 10px auto;
  background-color: #3eb6ae;
  color: #fff;
}
@media (min-width: 992px) {
  .about-us .second-row.special {
    margin: 10px auto 10px 50px;
  }
}
@media (min-width: 992px) {
  .about-us .second-row {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .about-us .second-row {
    width: 70%;
    height: 300px;
  }
}
@media (max-width: 1199px) {
  .about-us .second-row h2,
  .about-us .second-row p {
    padding: 0 10px !important;
  }
}
@media (max-width: 575px) {
  .about-us .second-row p {
    font-size: 15px !important;
  }
}
.about-us .second-row .img-after {
  left: -120px;
}
@media (max-width: 575px) {
  .about-us .second-row .img-after img {
    width: 60% !important;
  }
}
.about-us .second-row .img-after.two {
  background-color: #845ecc;
  padding: 20px 30px;
  bottom: -100px;
  left: 70px;
}
@media (max-width: 991px) {
  .about-us .second-row .img-after.two {
    left: -10px;
  }
}
@media (max-width: 767px) {
  .about-us .second-row .img-after.two {
    left: -60px;
    padding: 15px 25px;
  }
}
.about-us .second-row .img-after.two img {
  width: 20px;
  height: 40px;
}
.about-us .img-after-one {
  display: none !important;
}
@media (min-width: 992px) {
  .about-us .img-after-one {
    width: 280px;
    background-color: #3eb6ae;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 20px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .about-us .img-after-one img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.about-us .img-after-one img {
  display: none;
}
@media (min-width: 992px) {
  .about-us .img-after-one img {
    display: block;
  }
}
.about-us .third-row .left-box .before-three {
  top: -400px;
  left: -300px;
  z-index: -999;
}
.about-us .third-row .left-box .heading-of-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us .third-row .left-box .heading-of-box .big-head {
  font-size: 30px;
}
@media (min-width: 1200px) {
  .about-us .third-row .left-box .heading-of-box .big-head {
    font-size: 40px;
  }
}
.about-us .third-row .left-box .heading-of-box .img-after-three {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0eb5b;
  width: 80px;
}
.about-us .third-row .left-box .heading-of-box .img-after-three img {
  width: 35px;
}
.about-us .third-row .left-box .content-of-box {
  padding: 130px;
  background-color: #e55ea2;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 575px) {
  .about-us .third-row .left-box .content-of-box {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.about-us .third-row .left-box .content-of-box .private-btn {
  background-color: #f0eb5b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  .about-us .third-row .left-box .content-of-box .private-btn {
    margin: auto !important;
  }
}
.about-us .third-row .left-box .content-of-box .private-btn .btn:focus {
  border: none;
}
.about-us .third-row .right-box {
  background-color: #593a89;
}
@media (max-width: 575px) {
  .about-us .third-row .right-box {
    margin-top: 20px !important;
    padding: 20px !important;
  }
}
@media (max-width: 575px) {
  .about-us .third-row .right-box .first-box {
    padding: 0 !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .about-us .third-row .right-box .first-box .intro {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about-us .third-row .right-box .first-box .intro h3 {
  color: #fff;
}
.about-us .third-row .right-box .first-box img {
  width: 30px;
}
.about-us .third-row .right-box .image-after {
  top: 70px;
  left: -160px;
}
.about-us .third-row .right-box .image-after img {
  width: 200px;
}

/* End About Us*/
/*Start Footer*/
.footer .container {
  border-top: 1px solid #e9d9f0;
}
.footer .left-box .heading {
  color: #2f1952;
}
@media (max-width: 767px) {
  .footer .left-box .heading {
    margin: auto auto 15px !important;
  }
}
.footer .input-group {
  border: 1px solid #e9d9f0;
}
.footer .input-group input {
  caret-color: #3eb6ae;
}
.footer .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}
.footer .input-group .btn {
  background-color: #3eb6ae;
}
.footer .right-box {
  padding: 0 !important;
}
.footer .right-box .links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991px) {
  .footer .right-box .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .footer .right-box .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .right-box .links .active,
.footer .right-box .links a:hover {
  color: #2f1952 !important;
}
@media (max-width: 767px) {
  .footer .right-box .links li {
    margin-bottom: 5px;
  }
}
.footer .right-box .icons svg {
  cursor: pointer;
}

/*End Footer*/
/*# sourceMappingURL=abutus.css.map */