$main_color: #3eb6ae;
$dark_color: #16082c;
$light_body_color: #fcfafd;
$h_dark_color: #2f1952;
$p_light_color: #7b7090;
$yellow: #f0eb5b;
$purple: #845ecc;
$purple_dark: #4b3173;
$pink: #e55ea2;
$border_color: #374053;
$communication_sec: #593a89;
$border_footer_color: #e9d9f0;
$background_li: #f6f2fa;
$basic_text_color: #fff;

$max_xs: "(max-width: 575px)";
$min_sm: "(min-width: 768px)";
$max_sm: "(max-width: 767px)";
$min_md: "(min-width: 992px)";
$max_md: "(max-width: 991px)";
$min_lg: "(min-width: 1200px)";
$max_lg: "(max-width: 1199px)";
