/* Start Global Rules*/
* {
  -webkit-box-sizing: borer-box;
  box-sizing: borer-box;
}

body {
  background-color: #fcfafd;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* End Global Rules*/
/* Start Dark Mode*/
body.dark {
  color: #fff !important;
  background-color: #16082c;
}
body.dark .navbar .navbar-toggler svg {
  color: #fff;
}
body.dark .navbar .navbar-nav li a {
  color: #fff !important;
}
body.dark .navbar .navbar-nav li a.active, body.dark .navbar .navbar-nav li a:hover {
  color: #2f1952 !important;
}
body.dark .heading-of-landing-sec .title-of-heading,
body.dark .heading-of-landing-sec .title,
body.dark .heading-of-landing-sec .description,
body.dark .heading-of-sections .title-of-heading,
body.dark .heading-of-sections .title,
body.dark .heading-of-sections .description {
  color: #fff !important;
}
body.dark .bottom-sec-button .url-btn {
  color: #fff;
}
body.dark .client-opinion .container {
  border-bottom-color: #374053;
}
body.dark .footer .heading,
body.dark .footer .links li a {
  color: #fff !important;
}
body.dark .footer .links li a.active {
  color: #2f1952 !important;
}
body.dark .landing-blog .first-row .left-box-of-first-row h3 {
  color: #2f1952;
}
body.dark .landing-blog .first-row .left-box-of-first-row p {
  color: #7b7090;
}
body.dark .landing-blog .first-row .right-box-of-first-row {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142 !important;
}
body.dark .landing-blog .first-row .right-box-of-first-row ul li {
  color: #2f1952;
}
body.dark .landing-blog .second-row .box-of-second-row {
  background-color: #2e2142 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.dark .categories .row .info p {
  color: #fff !important;
}
body.dark .connect p {
  color: #fff !important;
}
body.dark .pactages .sidebar .box .intro svg {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul label {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul input {
  accent-color: #593a89;
}
body.dark .pactages .sidebar .box .icon-form {
  background-color: #593a89;
}
body.dark .pactages .main-content .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142;
}
body.dark .pactages .main-content .content-of-col .duration p,
body.dark .pactages .main-content .content-of-col .duration span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row .image-box-two {
  background-color: #322449;
}
body.dark .pactages .main-content .content-of-col .inner-footer .image {
  background-color: white;
  -mo-border-radius: 20px;
  border-radius: 20px;
}
body.dark .pactages .full-content .heading .image-box .img-first {
  background-color: #593a89;
}
body.dark .pactages .full-content .heading .image-box .img-second {
  color: black;
}
body.dark .complete-pactage .left-box,
body.dark .complete-pactage .right-box {
  background-color: #2e2142;
}
body.dark .complete-pactage .left-box .content-of-col,
body.dark .complete-pactage .right-box .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a;
}
body.dark .complete-pactage .left-box .content-of-col span,
body.dark .complete-pactage .right-box .content-of-col span {
  color: #fff !important;
}
body.dark .complete-pactage .left-box ul li p,
body.dark .complete-pactage .right-box ul li p {
  color: #fff !important;
}
body.dark .join .btn {
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons,
body.dark .join .first-input .reason-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons select,
body.dark .join .first-input .reason-content select {
  color: #fff !important;
}
body.dark .join .first-input .input-icons select option,
body.dark .join .first-input .reason-content select option {
  color: #ccc !important;
}
body.dark .join .first-input .input-icons svg,
body.dark .join .first-input .reason-content svg {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input,
body.dark .join .first-input .reason-content input {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-webkit-input-placeholder, body.dark .join .first-input .reason-content input::-webkit-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-moz-placeholder, body.dark .join .first-input .reason-content input::-moz-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input:-ms-input-placeholder, body.dark .join .first-input .reason-content input:-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-ms-input-placeholder, body.dark .join .first-input .reason-content input::-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::placeholder,
body.dark .join .first-input .reason-content input::placeholder {
  color: #fff !important;
}

/* End Dark Mode*/
/* Start Navbar */
.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .darkmode-switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}
.navbar .darkmode-switcher-label {
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.navbar .darkmode-switcher-label::before, .navbar .darkmode-switcher-label::after {
  position: absolute;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}
.navbar .darkmode-switcher-label::before {
  content: "\f185";
  font: var(--fa-font-regular);
  left: 0;
  background-color: #3eb6ae;
  color: #fff;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label::after {
  content: "Dark";
  right: 0;
  background-color: rgba(62, 182, 174, 0.2);
  color: #3eb6ae;
  width: 60%;
  padding-top: 2px;
}
.navbar .darkmode-switcher-label.dark::after {
  content: "\f186";
  font: var(--fa-font-regular);
  right: 0;
  background-color: #fff;
  color: #16082c;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label.dark::before {
  content: "white";
  left: 0;
  background-color: #322743;
  color: #fff;
  width: 60%;
  padding-top: 6px;
  font-family: Tahoma, sans-serif;
}
.navbar .login {
  background-color: #3eb6ae;
  cursor: pointer;
}

/* End Navbar */
/* Start Pactages */
.pactages .translate-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
.pactages .translate-btn img {
  width: 170px;
}
.pactages .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .pactages .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.pactages .sidebar {
  width: 100%;
}
@media (min-width: 992px) {
  .pactages .sidebar {
    width: 25%;
  }
}
.pactages .sidebar .box {
  border-bottom: 1px solid #e9d9f0;
}
.pactages .sidebar .box.noborder {
  border-bottom: none;
}
.pactages .sidebar .box .intro h4 {
  font-size: 15px;
}
.pactages .sidebar .box .intro svg {
  font-size: 20px !important;
}
.pactages .sidebar .box .ul-content li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pactages .sidebar .box .ul-content li input {
  width: 30px;
  height: 30px;
  accent-color: #009d93;
  cursor: pointer;
}
.pactages .sidebar .box .ul-content li label {
  cursor: pointer;
  font-size: 14px;
}
.pactages .sidebar .box .ul-content li input[type=checkbox] {
  width: 20px;
}
.pactages .sidebar .box .form-price input {
  border-color: #ccc;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 70px;
}
.pactages .sidebar .box .form-price input:focus {
  outline: none;
}
.pactages .sidebar .box .form-price .icon-form {
  background-color: #3eb6ae;
  width: 30px;
  height: 30px;
  line-height: 1.9;
  cursor: pointer;
}
.pactages .sidebar .box .form-price .icon-form svg {
  font-size: 12px;
  line-height: 1.5;
}
.pactages .sidebar .box .reset .icon-reset {
  background-color: red;
  width: 25px;
  height: 25px;
  line-height: 1.7;
  cursor: pointer;
}
.pactages .sidebar .box .reset p {
  cursor: pointer;
  color: red;
  padding-top: 5px;
}
.pactages .full-content {
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .pactages .full-content {
    width: 70%;
    margin-left: 100px;
  }
}
.pactages .full-content .heading .semi-button {
  border: 1px solid #e9d9f0;
}
.pactages .full-content .heading .image-box .img-first {
  background-color: #3eb6ae;
  cursor: pointer;
}
.pactages .full-content .heading .image-box .img-second {
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
}
.pactages .full-content .main-content .before-one,
.pactages .full-content .main-content .before-two {
  z-index: -999;
  left: -500px;
}
.pactages .full-content .main-content .before-one {
  top: -500px;
}
.pactages .full-content .main-content .before-two {
  top: 160px;
}
.pactages .full-content .main-content .before-three {
  bottom: -500px;
  right: -500px;
  z-index: -999;
}
.pactages .full-content .main-content .content-of-col {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px #efeded;
          box-shadow: 10px 10px 10px #efeded;
}
.pactages .full-content .main-content .content-of-col .intro .image-box-special-one {
  background-color: #8cc63f;
}
.pactages .full-content .main-content .content-of-col .intro .image-box-special-two {
  background-color: #008efe;
  padding-bottom: 10px;
}
.pactages .full-content .main-content .content-of-col .intro p span {
  display: inline-block;
}
.pactages .full-content .main-content .content-of-col .duration p {
  color: #3eb6ae;
}
.pactages .full-content .main-content .content-of-col .duration span {
  font-size: 12px;
}
.pactages .full-content .main-content .content-of-col .inner-row .image-box-two {
  background-color: #eeebf3;
  width: 50px;
  height: 50px;
  line-height: 2.8;
}

/* End Pactages */
/* Start Complete Pactage*/
.complete-pactage .row {
  margin-top: 0;
}
@media (min-width: 992px) {
  .complete-pactage .row {
    margin-top: 230px !important;
  }
}
.complete-pactage .left-box {
  text-align: center;
  background-color: #f3eff8;
}
@media (min-width: 992px) {
  .complete-pactage .left-box {
    text-align: start;
  }
}
.complete-pactage .left-box li {
  padding-bottom: 10px;
}
.complete-pactage .left-box li p {
  color: #593a89;
}
.complete-pactage .right-box {
  background-color: #fff;
}
.complete-pactage .right-box .content-of-col {
  display: none;
  background-color: #fff;
  top: -250px;
  -webkit-box-shadow: 10px 10px 10px #efeded;
          box-shadow: 10px 10px 10px #efeded;
}
@media (min-width: 992px) {
  .complete-pactage .right-box .content-of-col {
    display: block;
  }
}
.complete-pactage .right-box .content-of-col.special {
  right: 100px;
}
.complete-pactage .right-box ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.complete-pactage .right-box ul li .first {
  margin-bottom: 20px !important;
}
.complete-pactage .right-box ul li:not(:last-of-type) {
  border-bottom: 1px solid #e9d9f0;
  padding-bottom: 20px;
}
.complete-pactage .right-box ul li p {
  color: #593a89;
}
@media (min-width: 992px) {
  .complete-pactage .right-box ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .complete-pactage .right-box ul li .first {
    margin-bottom: 0;
  }
}

/* End Complete Pactage*/
/*Start Footer*/
.footer .container {
  border-top: 1px solid #e9d9f0;
}
.footer .left-box .heading {
  color: #2f1952;
}
@media (max-width: 767px) {
  .footer .left-box .heading {
    margin: auto auto 15px !important;
  }
}
.footer .input-group {
  border: 1px solid #e9d9f0;
}
.footer .input-group input {
  caret-color: #3eb6ae;
}
.footer .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}
.footer .input-group .btn {
  background-color: #3eb6ae;
}
.footer .right-box {
  padding: 0 !important;
}
.footer .right-box .links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991px) {
  .footer .right-box .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .footer .right-box .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .right-box .links .active,
.footer .right-box .links a:hover {
  color: #2f1952 !important;
}
@media (max-width: 767px) {
  .footer .right-box .links li {
    margin-bottom: 5px;
  }
}
.footer .right-box .icons svg {
  cursor: pointer;
}

/*End Footer*/
/*# sourceMappingURL=pactage.css.map */