/* Start Global Rules*/
* {
  -webkit-box-sizing: borer-box;
  box-sizing: borer-box;
}

body {
  background-color: #fcfafd;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* End Global Rules*/
/* Start Dark Mode*/
body.dark {
  color: #fff !important;
  background-color: #16082c;
}
body.dark .navbar .navbar-toggler svg {
  color: #fff;
}
body.dark .navbar .navbar-nav li a {
  color: #fff !important;
}
body.dark .navbar .navbar-nav li a.active, body.dark .navbar .navbar-nav li a:hover {
  color: #2f1952 !important;
}
body.dark .heading-of-landing-sec .title-of-heading,
body.dark .heading-of-landing-sec .title,
body.dark .heading-of-landing-sec .description,
body.dark .heading-of-sections .title-of-heading,
body.dark .heading-of-sections .title,
body.dark .heading-of-sections .description {
  color: #fff !important;
}
body.dark .bottom-sec-button .url-btn {
  color: #fff;
}
body.dark .client-opinion .container {
  border-bottom-color: #374053;
}
body.dark .footer .heading,
body.dark .footer .links li a {
  color: #fff !important;
}
body.dark .footer .links li a.active {
  color: #2f1952 !important;
}
body.dark .landing-blog .first-row .left-box-of-first-row h3 {
  color: #2f1952;
}
body.dark .landing-blog .first-row .left-box-of-first-row p {
  color: #7b7090;
}
body.dark .landing-blog .first-row .right-box-of-first-row {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142 !important;
}
body.dark .landing-blog .first-row .right-box-of-first-row ul li {
  color: #2f1952;
}
body.dark .landing-blog .second-row .box-of-second-row {
  background-color: #2e2142 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.dark .categories .row .info p {
  color: #fff !important;
}
body.dark .connect p {
  color: #fff !important;
}
body.dark .pactages .sidebar .box .intro svg {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul label {
  color: #fff !important;
}
body.dark .pactages .sidebar .box ul input {
  accent-color: #593a89;
}
body.dark .pactages .sidebar .box .icon-form {
  background-color: #593a89;
}
body.dark .pactages .main-content .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e2142;
}
body.dark .pactages .main-content .content-of-col .duration p,
body.dark .pactages .main-content .content-of-col .duration span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row span {
  color: #fff !important;
}
body.dark .pactages .main-content .content-of-col .inner-row .image-box-two {
  background-color: #322449;
}
body.dark .pactages .main-content .content-of-col .inner-footer .image {
  background-color: white;
  -mo-border-radius: 20px;
  border-radius: 20px;
}
body.dark .pactages .full-content .heading .image-box .img-first {
  background-color: #593a89;
}
body.dark .pactages .full-content .heading .image-box .img-second {
  color: black;
}
body.dark .complete-pactage .left-box,
body.dark .complete-pactage .right-box {
  background-color: #2e2142;
}
body.dark .complete-pactage .left-box .content-of-col,
body.dark .complete-pactage .right-box .content-of-col {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a;
}
body.dark .complete-pactage .left-box .content-of-col span,
body.dark .complete-pactage .right-box .content-of-col span {
  color: #fff !important;
}
body.dark .complete-pactage .left-box ul li p,
body.dark .complete-pactage .right-box ul li p {
  color: #fff !important;
}
body.dark .join .btn {
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons,
body.dark .join .first-input .reason-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2e1c4a !important;
}
body.dark .join .first-input .input-icons select,
body.dark .join .first-input .reason-content select {
  color: #fff !important;
}
body.dark .join .first-input .input-icons select option,
body.dark .join .first-input .reason-content select option {
  color: #ccc !important;
}
body.dark .join .first-input .input-icons svg,
body.dark .join .first-input .reason-content svg {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input,
body.dark .join .first-input .reason-content input {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-webkit-input-placeholder, body.dark .join .first-input .reason-content input::-webkit-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-moz-placeholder, body.dark .join .first-input .reason-content input::-moz-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input:-ms-input-placeholder, body.dark .join .first-input .reason-content input:-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::-ms-input-placeholder, body.dark .join .first-input .reason-content input::-ms-input-placeholder {
  color: #fff !important;
}
body.dark .join .first-input .input-icons input::placeholder,
body.dark .join .first-input .reason-content input::placeholder {
  color: #fff !important;
}

/* End Dark Mode*/
/* Start Navbar */
.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .darkmode-switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}
.navbar .darkmode-switcher-label {
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.navbar .darkmode-switcher-label::before, .navbar .darkmode-switcher-label::after {
  position: absolute;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}
.navbar .darkmode-switcher-label::before {
  content: "\f185";
  font: var(--fa-font-regular);
  left: 0;
  background-color: #3eb6ae;
  color: #fff;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label::after {
  content: "Dark";
  right: 0;
  background-color: rgba(62, 182, 174, 0.2);
  color: #3eb6ae;
  width: 60%;
  padding-top: 2px;
}
.navbar .darkmode-switcher-label.dark::after {
  content: "\f186";
  font: var(--fa-font-regular);
  right: 0;
  background-color: #fff;
  color: #16082c;
  width: 40%;
  padding-top: 6px;
}
.navbar .darkmode-switcher-label.dark::before {
  content: "white";
  left: 0;
  background-color: #322743;
  color: #fff;
  width: 60%;
  padding-top: 6px;
  font-family: Tahoma, sans-serif;
}
.navbar .login {
  background-color: #3eb6ae;
  cursor: pointer;
}

/* End Navbar */
/* Start Heading */
.heading-of-landing-sec {
  width: 800px;
  height: 200px;
  margin: 60px auto 0;
}
@media (max-width: 991px) {
  .heading-of-landing-sec {
    width: 500px;
  }
}
@media (max-width: 575px) {
  .heading-of-landing-sec {
    width: 300px;
  }
}
.heading-of-landing-sec .title-of-heading {
  color: #2f1952;
  font-size: 86px;
}
@media (max-width: 991px) {
  .heading-of-landing-sec .title-of-heading {
    font-size: 60px;
  }
}
@media (max-width: 575px) {
  .heading-of-landing-sec .title-of-heading {
    font-size: 40px;
  }
}
.heading-of-landing-sec .description-of-heading {
  width: 80%;
  margin: auto;
  font-size: 38px !important;
  color: #7b7090;
}
@media (max-width: 991px) {
  .heading-of-landing-sec .description-of-heading {
    font-size: 25px !important;
  }
}
@media (max-width: 575px) {
  .heading-of-landing-sec .description-of-heading {
    font-size: 18px !important;
  }
}

.heading-of-sections {
  width: 500px;
  margin: auto;
}
@media (max-width: 767px) {
  .heading-of-sections {
    width: 250px;
  }
}
.heading-of-sections .title {
  color: #2f1952;
}
.heading-of-sections .description {
  width: 100%;
  margin: auto;
  color: #7b7090;
}

/* End Heading */
/* Start Bottom Btn*/
.bottom-sec-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #374053;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.bottom-sec-button .url-btn:focus {
  border: none;
}
.bottom-sec-button svg {
  font-size: 20px;
}

/* End Bottom Btn*/
/* Start Landing Blogs*/
.landing-blog .first-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 992px) {
  .landing-blog .first-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.landing-blog .first-row .left-box-of-first-row {
  background-color: #f0eb5b !important;
}
@media (min-width: 992px) {
  .landing-blog .first-row .left-box-of-first-row {
    width: 31%;
  }
}
@media (max-width: 991px) {
  .landing-blog .first-row .left-box-of-first-row .image-box img {
    width: 100%;
  }
}
.landing-blog .first-row .right-box-of-first-row {
  -webkit-box-shadow: 10px 10px 10px #f6f2fa;
          box-shadow: 10px 10px 10px #f6f2fa;
}
@media (min-width: 992px) {
  .landing-blog .first-row .right-box-of-first-row {
    width: 65%;
    margin-left: 2%;
  }
}
@media (max-width: 991px) {
  .landing-blog .first-row .right-box-of-first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    margin-top: 20px;
  }
}
.landing-blog .first-row .right-box-of-first-row .info-box h2 {
  font-size: 20px;
}
@media (min-width: 1200px) {
  .landing-blog .first-row .right-box-of-first-row .info-box h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
.landing-blog .first-row .right-box-of-first-row .info-box ul li {
  font-size: 14px;
  background-color: #f6f2fa;
}
.landing-blog .first-row .right-box-of-first-row .image-box img {
  width: 250px;
}
@media (min-width: 1200px) {
  .landing-blog .first-row .right-box-of-first-row .image-box img {
    width: 370px;
  }
}
.landing-blog .second-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.landing-blog .second-row .box-of-second-row {
  -webkit-box-shadow: 10px 10px 10px #f6f2fa;
          box-shadow: 10px 10px 10px #f6f2fa;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .landing-blog .second-row .box-of-second-row {
    width: 31.6666666667%;
  }
}
@media (max-width: 991px) {
  .landing-blog .second-row .box-of-second-row {
    width: 49%;
  }
}
@media (max-width: 767px) {
  .landing-blog .second-row .box-of-second-row {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .landing-blog .second-row .box-of-second-row:not(:nth-child(3)) {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .landing-blog .second-row .box-of-second-row:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .landing-blog .second-row .box-of-second-row:last-of-type {
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .landing-blog .second-row .box-of-second-row:last-of-type {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .landing-blog .second-row .box-of-second-row:nth-child(1),
  .landing-blog .second-row .box-of-second-row:nth-child(4) {
    margin-left: 11px;
  }
}
@media (max-width: 991px) {
  .landing-blog .second-row .box-of-second-row:nth-child(2) {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .landing-blog .second-row .box-of-second-row:nth-child(2) {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .landing-blog .second-row .box-of-second-row:nth-child(3) {
    margin-right: 10px;
  }
}
.landing-blog .second-row span {
  cursor: pointer;
}
@media (max-width: 991px) {
  .landing-blog .second-row span {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.landing-blog .images-before-blog div {
  z-index: -999;
}
.landing-blog .images-before-blog .image-box-one {
  top: -500px;
  left: 100px;
}
@media (max-width: 991px) {
  .landing-blog .images-before-blog .image-box-one {
    left: -130px;
  }
}
@media (max-width: 575px) {
  .landing-blog .images-before-blog .image-box-one {
    left: -450px;
  }
}
.landing-blog .images-before-blog .image-box-two {
  bottom: -500px;
  left: -350px;
}
.landing-blog .images-before-blog .image-box-three {
  right: -500px;
}

/* End Landing Blogs*/
/* Start Complete Blogs */
.complete-blogs .image-before,
.connect .image-before {
  z-index: -999;
}
.complete-blogs .image-before.one,
.connect .image-before.one {
  left: -300px;
  top: 300px;
}
.complete-blogs .image-before.three,
.connect .image-before.three {
  bottom: -400px;
  left: -500px;
}

.connect .second {
  width: 90%;
}
@media (max-width: 991px) {
  .connect .second .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.recommend .heading-of-sections {
  width: 100% !important;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .recommend .heading-of-sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin: 0 !important;
  }
}
.recommend .heading-of-sections .icons svg {
  cursor: pointer;
}
.recommend .heading-of-sections .right-icon {
  border: 1px solid #374053;
}

/* End Complete Blogs */
/*Start Footer*/
.footer .container {
  border-top: 1px solid #e9d9f0;
}
.footer .left-box .heading {
  color: #2f1952;
}
@media (max-width: 767px) {
  .footer .left-box .heading {
    margin: auto auto 15px !important;
  }
}
.footer .input-group {
  border: 1px solid #e9d9f0;
}
.footer .input-group input {
  caret-color: #3eb6ae;
}
.footer .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}
.footer .input-group .btn {
  background-color: #3eb6ae;
}
.footer .right-box {
  padding: 0 !important;
}
.footer .right-box .links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991px) {
  .footer .right-box .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .footer .right-box .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .right-box .links .active,
.footer .right-box .links a:hover {
  color: #2f1952 !important;
}
@media (max-width: 767px) {
  .footer .right-box .links li {
    margin-bottom: 5px;
  }
}
.footer .right-box .icons svg {
  cursor: pointer;
}

/*End Footer*/
/*# sourceMappingURL=blog.css.map */